.header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: $font-size-xl;
    padding-top: 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: -30vw; /* 線を左に伸ばす長さ */
      right: -30vw; /* 線を右に伸ばす長さ */
      bottom: 0;
      border-bottom: solid $border-width $on-background-color; /* 線の色と太さを指定 */
    }
  }

  .link {
    padding-top: 15px;
    display: flex;
    gap: 60px;

    a {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 0;
        height: 2px;
        background: $on-background-color;
        transition: $transition-time;
      }

      &:hover::before {
        width: 100%;
      }
    }
  }
}
