$primary-color: #000000;
$accent-color: #0030dd;
$text-color: #000000;
$warning-color: #dd0000;
$background-color: #ffffff;

$on-primary-color: #ffffff;
$on-accent-color: #ffffff;
$on-warning-color: #ffffff;
$on-text-color: #ffffff;
$on-background-color: #000000;
