$transition-time: 0.5s;

// border の半径
$radius-md: 5px;
$radius-lg: 10px;

// border の幅
$border-width: 2px;

// フォントサイズ
$font-size-xs: 0.5rem;
$font-size-sm: 0.75rem;
$font-size-md: 1rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;
