.containers {
  padding: 50px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  .container {
    padding: 20px 50px;
    border: solid 1.5px #333; /*線の種類・太さ・色*/
    width: 100%;
    max-width: 800px;
    border-radius: 10px; /*角の丸み*/

    .tags {
      display: flex;
      justify-content: start;
      p {
        padding: 0.5px 15px;
        border: solid 2px #333; /*線の種類・太さ・色*/
        border-radius: 10px; /*角の丸み*/
      }
    }

    p,
    img,
    details {
      margin: 5px;
    }

    img {
      width: 36px;
      height: 36px;
      clip-path: circle(50%);
    }

    .userAndValue {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .user {
        display: flex;
        align-items: center;
      }
    }

    .score_box {
      display: flex;
      p {
        padding-top: 5px;
        padding-left: 25px;
      }
    }

    .buttons {
      display: flex;
      gap: 20px;

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
      }

      :hover {
        border-bottom: 1.5px solid;
      }
    }
  }
}
